app/static/pug/index.pug
extends _layout.pug

block content
	.loaderArea
	.van-Gogh
		.van-Gogh__feedback
			.van-Gogh__title.
				Заявка на обратную связь
			form
				input(type="text" class="form-control" placeholder="Имя")
				input(type="phone" class="form-control" placeholder="Номер")
				input(type="email" class="form-control" placeholder="e-mail")
				.van-Gogh__feedback-button
					.van-Gogh-button
						button(type="submit").button__line.
							Оправить
		.van-Gogh__wrapper
	.main-block
		.vimeo-wrapper
			//- iframe(src="https://player.vimeo.com/video/278539503?background=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
		.container
			.header__static
				.row
					.col-2
						a.logo(href="/html/index.html")
							.logo__wrap
					.col-5
						.lang-wrap
							a(href="#") Каз
						.lang-wrap
							a(href="#") Рус
						.lang-wrap
							a(href="#") Eng
					.col-5
						.nav-wrap
							a(href="/html/portfolio.html") Портфолио
						.nav-wrap
							a(href="#") Услуги
						.nav-wrap
							a(href="#feedback") Контакты
			.row
				.col-xl-6.col-xs-12
					.main-block__title.
						Мы креативное агенство
					.main-block__button
						a(href="/html/about-us.html").button__line.
							Подробнее
				//- тимка обожаю тебя, измения в верстке тут
				.blocks-big-logo
					svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 765.8 553.9', style='enable-background:new 0 0 765.8 553.9;fill:#6EC4C2;', xml:space='preserve')
						style(type='text/css').
							.st0{fill:#6EC4C2;}
							.st1{display:inline;fill:#6EC4C2;}
							.st2{fill:#6EC4C2;}
							.st3{display:inline;fill:#6EC4C2;stroke:#ED1C24;stroke-miterlimit:10;}
						g.st0(id='logohover')
							g.st1
								path.st2(d='M622.8,0c5.9,0.9,11.7,2.3,16.8,5.6c11.3,7.3,15.7,18,14.7,31.1c-0.8,10.1-5.2,19-8.7,28.2\
								c-26.8,70.5-53.8,140.9-80.7,211.4c-7.3,19.2-18.7,35.4-35.5,47.5c-13.4,9.6-28.3,15.6-44.6,17.4c-35.7,3.8-66.5-6.9-91.5-33.1\
								C382,296.4,375.3,282,370,266.8c-19.5-55.2-39.2-110.3-58.8-165.5c-2.8-8-6.3-15.6-12.2-21.8c-15-15.9-41.6-14.7-55.7,2.5\
								c-4.8,5.8-8.2,12.5-10.7,19.5c-40,110.5-79.9,221.1-119.8,331.6c-14.2,39.3-28.4,78.7-42.6,118c-0.3,0.9-0.5,1.8-0.7,2.7\
								c-23.2,0-46.3,0-69.5,0c0.3-1.1,0.5-2.2,0.9-3.2C55.9,399,110.9,247.4,166,95.8c4.7-12.9,8.7-26.1,14.8-38.3\
								c14.8-29.6,38.8-48.1,71.4-55.1c5-1.1,10.1-1.6,15.2-2.3c3.2,0,6.4,0,9.5,0c1,0.2,2,0.5,3,0.5c21.4,1.6,40.3,9.5,56.9,23.1\
								c16.5,13.6,27.2,30.9,34.3,50.9c19.3,54.7,38.8,109.4,58.2,164.2c2.5,7,5.2,13.8,9.6,19.8c14.3,19.7,40.9,21.7,57.1,4.4\
								c5.9-6.3,9.5-14,12.5-22c27.2-71.3,54.3-142.5,81.5-213.7c3.7-9.6,8.6-18.4,18.2-23.3c3.8-2,8.3-2.7,12.4-3.9\
								C621.3,0,622.1,0,622.8,0z')
								path.st2(d='M765.8,343.6c-4.3-1-8.6-1.8-12.8-2.9c-25.4-7-44.8-22.3-57.7-44.9c-8.9-15.6-16.2-32.1-24-48.3\
								c-4.7-9.7-9.1-19.6-13.6-29.5c-3.1-6.7-3.5-13.2-0.7-20.3c9.7-24.8,19-49.6,28.5-74.4c0.2-0.5,0.4-1,0.9-2\
								c0.6,1.3,1.1,2.2,1.6,3.2c19.5,41.9,39,83.7,58.3,125.6c4.4,9.4,10.5,17.1,19.6,22.4C765.8,296.2,765.8,319.9,765.8,343.6z')
						g.st5(id='logotype')
							g
								path.touch(d='M283.4,0.4c3,0.5,6,1.1,9,1.6c24.3,4.6,43.9,16.9,59.9,35.5c9.6,11.1,16,24,20.9,37.7c12.8,35.9,25.6,71.8,38.4,107.8\
								c7.4,20.9,14.7,41.9,22.3,62.7c3.6,9.8,9.5,18,18.6,23.8c12.3,7.7,31.4,5.7,41.8-4.4c6.9-6.7,11.1-14.9,14.4-23.6\
								c9.9-26,19.9-52.1,29.8-78.1c10.1-26.6,20.2-53.2,30.3-79.7c7.3-19.1,14.5-38.2,21.9-57.2c3.9-10,9.7-18.7,20-23.4\
								c2.4-1.1,4.9-1.7,7.4-2.6c3,0,6,0,9,0c6.3,1.6,12.3,3.7,17.4,7.9c7.2,6,10.9,13.8,11.7,23c0.7,8.1-1.6,15.7-4.4,23.2\
								c-10.4,27.7-20.9,55.3-31.3,83c-8.4,22.1-16.7,44.1-25.2,66.1c-9.3,24.1-18.7,48.2-28,72.3c-5.5,14.2-12.9,27.1-23.5,38.1\
								c-15.3,15.8-34.2,25.1-55.9,28.4c-25.7,3.9-49.7-1.7-71.9-14.9c-21.3-12.7-35.3-31.4-43.6-54.6c-9.2-25.8-18.6-51.6-27.8-77.4\
								c-5.5-15.5-11-30.9-16.4-46.4c-6-17-11.8-34-18-50.9c-3.4-9.1-8.4-17.3-16.9-22.8c-5-3.2-10.4-5-16.4-5c-3.4,0-6.9-0.2-10.3,0.3\
								c-10.8,1.7-18.6,8.1-24.4,17.1c-5.4,8.4-8.4,17.8-11.8,27.1c-10.3,28.3-20.5,56.6-30.7,85c-6.7,18.7-13.5,37.4-20.2,56.1\
								c-9.5,26.3-19,52.6-28.5,78.9c-7,19.5-14,39-21,58.4c-9.2,25.4-18.4,50.9-27.6,76.3c-6.8,18.9-13.6,37.7-20.4,56.6\
								c-2.9,8.1-5.8,16.1-8.8,24.2c-0.3,0.8-0.8,1.5-1.2,2.3c-0.3-0.1-0.5-0.2-0.8-0.3c0.7-2,1.3-4.1,2-6.1c7-19.3,13.9-38.6,20.9-57.9\
								c8.5-23.5,17-47,25.5-70.5c6.9-19.2,13.8-38.4,20.8-57.6c8.5-23.7,17.1-47.4,25.7-71c5.9-16.3,11.8-32.6,17.7-48.9\
								c8.7-24,17.4-48.1,26-72.1c6.8-18.9,13.5-38,20.5-56.8c2.9-7.7,6-15.5,10-22.7c7.1-12.9,18.3-19.8,33.3-19.9\
								c14.5,0,25.6,6.2,32.7,18.8c3.5,6.1,6.1,12.8,8.5,19.4c9,25.2,17.7,50.5,26.7,75.7c11.2,31.4,22.2,62.8,33.8,94\
								c7.9,21.1,21.9,37.7,41.2,49.6c14.8,9.1,31,13.7,48,15.5c17.7,1.9,34.5-1.8,50.5-9.1c20.2-9.3,35.2-24.1,44.7-44\
								c6.9-14.6,12.6-29.7,18.5-44.7c14.9-38.7,29.7-77.5,44.4-116.3c9.8-25.8,19.7-51.6,29.3-77.5c3.6-9.7,4.7-19.7,0.3-29.4\
								c-5-10.9-13.8-17-25.5-18.5C610-0.1,598.5,10.7,593,24.7c-9.5,24.3-18.8,48.7-28.1,73.1c-13.6,35.7-27.1,71.5-40.8,107.2\
								c-6.2,16.3-12.4,32.6-19.5,48.5c-4.5,10.1-12.4,17.6-23.4,20.6c-13.6,3.8-25.7,0.9-36.2-8.8c-7.9-7.3-11.8-16.9-15.3-26.7\
								c-12.6-35.8-25.1-71.7-37.7-107.4c-7.3-20.6-14.7-41.1-22.4-61.5c-5.9-15.8-15-29.6-27.5-41c-15.7-14.4-34-23.4-55.2-26.1\
								c-27-3.4-51.5,3-73.3,19.1c-17.8,13.1-29.7,30.6-37,51.4c-8.9,25.2-18.1,50.2-27.2,75.2c-7,19.4-14.1,38.7-21.1,58.1\
								c-8.8,24.3-17.7,48.5-26.5,72.8c-7.3,20-14.5,40-21.7,60c-7.9,21.6-15.8,43.3-23.6,64.9C50,421.8,43.6,439.4,37.2,457\
								c-8.9,24.5-17.8,49.1-26.7,73.6c-2.4,6.5-4.7,13-7.1,19.5c-0.3,0.8-0.7,1.6-1.1,2.4c-0.2-0.1-0.5-0.1-0.7-0.2\
								c0.1-0.6,0.1-1.3,0.3-1.8c12.2-33.7,24.5-67.3,36.7-101c8.8-24.2,17.5-48.4,26.3-72.6c10.2-28.2,20.5-56.4,30.8-84.7\
								c8.8-24.2,17.5-48.4,26.3-72.6c10.2-28.2,20.5-56.4,30.8-84.7c8-22.1,16-44.2,24-66.3c4.9-13.4,12.4-25.2,22.1-35.6\
								c11.8-12.6,25.8-21.8,42.1-27.2c6.9-2.3,14.1-3.3,21.2-4.9c0.9-0.2,1.8-0.4,2.7-0.6C271.1,0.4,277.2,0.4,283.4,0.4z')
								path(d='M766.5,273.6c-9.9-5.4-16.1-13.9-20.6-23.9c-6.2-13.9-12.5-27.9-19-41.7c-11-23.6-22-47.1-33.1-70.6\
								c-2-4.4-4.2-8.7-6.6-13.8c-0.8,1.8-1.4,2.9-1.8,4c-8.7,22.8-17.2,45.7-26.3,68.4c-3.8,9.4-2.8,17.7,1.5,26.5\
								c10.7,21.9,20.5,44.1,31.3,65.9c9.4,19.1,23.2,34.4,42.2,44.6c10.1,5.4,20.8,9.2,32.3,10.1c0,0.6,0,1.1,0,1.7\
								c-17.6-2.5-33.4-9-47.3-20.1c-12.4-10-22-22.2-28.9-36.5c-11.2-23.3-22.1-46.7-33-70c-2.9-6.2-3.1-12.5-0.6-19\
								c8.1-21,16-42,24.1-62.9c1.6-4.3,3.3-8.5,4.9-12.8c0.3-0.8,0.7-1.6,1.4-3.1c1.9,3.9,3.5,7.2,5.1,10.5\
								c5.1,10.9,10.2,21.8,15.3,32.7c10.1,21.7,20.2,43.4,30.4,65.1c4.5,9.5,8.6,19.2,13.5,28.5c3.4,6.4,8.7,11.4,15.1,14.9\
								C766.5,272.4,766.5,273,766.5,273.6z')

			.main-block__arrows-bottom
				a(href="#project")
					img(src="../img/index/arrows_button.png")
	.project#project
		.container
			.row
				.main__title.
					Проекты агентства и партнеров
		.project-slider
			.project__item
				.project__pic(style="background-image: url('../img/index/Bitmap.png')")
				.project__desc
					p.
						Клиент: Aviata
					p.
						Исполнители: Nikways, Nikways
					p.
						Год: 2018
			.project__item
				.project__pic(style="background-image: url('../img/index/Bitmap.png')")
				.project__desc
					p.
						Клиент: Aviata
					p.
						Исполнители: Nikways, Nikways
					p.
						Год: 2018
			.project__item
				.project__pic(style="background-image: url('../img/index/Bitmap.png')")
				.project__desc
					p.
						Клиент: Aviata
					p.
						Исполнители: Nikways, Nikways
					p.
						Год: 2018
			.project__item
				.project__pic(style="background-image: url('../img/index/Bitmap.png')")
				.project__desc
					p.
						Клиент: Aviata
					p.
						Исполнители: Nikways, Nikways
					p.
						Год: 2018
		#project-slider__prev.project-slider__prev
		#project-slider__next.project-slider__next
		.project__button
			.main-block__button
				a(href="/html/portfolio.html").button__line.
					Смотреть больше
	.services
		.container
			.main__title.
					услуги агентства
			.row
				.col-lg-3.col-md-6.col-xs-12
					.services__item
						.services__title.
							Креатив и стратегия
						.services__desc.
							Текст вода о том, что
							за услуга и почему 
							мы это делаем
							как то так вот
						.services__list
							ul
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
					.services__item
						.services__title.
							Веб-разработка
						.services__desc.
							Текст вода о том, что
							за услуга и почему 
							мы это делаем
							как то так вот
						.services__list
							ul
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
				.col-lg-3.col-md-6.col-xs-12
					.services__item
						.services__title.
							Брендинг
						.services__desc.
							Текст вода о том, что
							за услуга и почему 
							мы это делаем
							как то так вот
						.services__list
							ul
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
				.col-lg-3.col-md-6.col-xs-12
					.services__item
						.services__title.
							Digital marketing
						.services__desc.
							Текст вода о том, что
							за услуга и почему 
							мы это делаем
							как то так вот
						.services__list
							ul
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
					.services__item
						.services__title.
							Организация мероприятий
						.services__desc.
							Текст вода о том, что
							за услуга и почему 
							мы это делаем
							как то так вот
						.services__list
							ul
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
				.col-lg-3.col-md-6.col-xs-12
					.services__item
						.services__title.
							Фото и видео продакшн
						.services__desc.
							Текст вода о том, что
							за услуга и почему 
							мы это делаем
							как то так вот
						.services__list
							ul
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
								li Нейминг
								li Айдентика
								li Дизайн логотипа
								li Бренд стратегия
			.services__button
				.main-block__button
					a(href="/html/services.html").button__line.
						Смотреть больше
	.partnership
		.container
			.main__title.
				Компании, с которыми мы работали
			.main__subtitle.
				За годы работы в сфере рекламы, 
				мы и наши партнеры успели поработать 
				с рядом иминитых брендов и компаний
			.row
				//- Тимка Добавь к компаниями класс col-4 он на мобилке норм отработает, и все будет ок, слайдер не надо, у них не будет много компаний
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/UN.png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/M.png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/UNI.png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/SONY.png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (7).png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (5).png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (6).png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (3).png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (2).png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (4).png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (11).png")
				.col-lg-3.col-sm-6.col-4
					.partnership__item
						img(src="../img/logo/logo (10).png")
	.awards
		.container
			.main__title.
				награды компании с фестивалей
			.main__subtitle.
				За годы работы в сфере рекламы, 
				мы и наши партнеры успели поработать 
				с рядом иминитых брендов и компаний
			.row
				.col-lg-6.col-xs-12
					.awards__items
						img(src="../img/index/lapa.png")
					.awards__items
						.awards__desc.
							Награда на фестивале
							RedJolbors
				.col-lg-6.col-xs-12
					.awards__items
						img(src="../img/index/youtube.png")
					.awards__items
						.awards__desc.
							Награда от Youtube
	.feedback#feedback
		.container
			.main__title.
				заявка на обратную связь
			form
				.row
					.col-lg-4.col-xs-12
						input(type="text" class="form-control" placeholder="Ваше имя")
					.col-lg-4.col-xs-12
						input(type="phone" class="form-control" placeholder="Ваш номер телефона")
					.col-lg-4.col-xs-12
						input(type="email" class="form-control" placeholder="Электронная почта")
				.feedback__button
					.main-block__button
						button(type="submit").button__line.
							Оправить
			.main__title.
				Связаться снами
			.row
				.col-lg-6.col-xs-12.order-lg-1.order-sm-2.order-2
					.feedback__desc.
						Связаться с нами очень просто, можете позвонить нам или написать а так же оставить оставить заявку:
					.feedback__number
						a(href="#").
							+7 777 888 9911
					.feedback__email
						a(href="#").
							info@nikways.com
					.feedback__logo
						a(href="#")
							img(src="../img/index/feed_logo.png", alt="")
				.col-lg-6.col-xs-12.order-lg-2.order-sm-1.order-1
					.feedback__pic
						img(src="../img/index/mona_lisa.png")

public_html/html/index.html
<!DOCTYPE html>
<html class="page" lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no"/>
		<title>Nikways</title>
		<link rel="stylesheet" href="../../vendor/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" href="../../vendor/bootstrap-select/bootstrap-select.min.css"/>
		<link rel="stylesheet" href="../../vendor/slick/slick.css"/>
		<link rel="stylesheet" href="../../vendor/slick/slick-theme.css"/>
		<link rel="stylesheet" href="../../vendor/fancybox/jquery.fancybox.min.css"/>
		<link rel="stylesheet" href="../../vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../vendor/fullcalendar.min.css"/>
		<link rel="stylesheet" href="../../vendor/jquery.jscrollpane.css"/>
		<link rel="stylesheet" href="../css/style.css"/>
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-128.png" sizes="128x128"/>
		<meta name="application-name" content=" "/>
		<meta name="msapplication-TileColor" content="#FFFFFF"/>
		<meta name="msapplication-TileImage" content="mstile-144x144.png"/>
		<meta name="msapplication-square70x70logo" content="/img/favicon/mstile-70x70.png"/>
		<meta name="msapplication-square150x150logo" content="/img/favicon/mstile-150x150.png"/>
		<meta name="msapplication-wide310x150logo" content="/img/favicon/mstile-310x150.png"/>
		<meta name="msapplication-square310x310logo" content="/img/favicon/mstile-310x310.png"/>
	</head>
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/jquery/preloader.js"></script>
	<body>
		<div class="page-inner">
			<header role="banner">
				<div class="burger-click-region"><span class="burger-menu-piece"></span><span class="burger-menu-piece"></span><span class="burger-menu-piece"></span></div>
				<div class="burger-menu-txt"><a class="logo" href="/html/index.html">
					<div class="logo__wrap logo__wrap__mobile"></div></a>
<div class="lang-wrap"><a href="#">Каз</a></div>
<div class="lang-wrap"><a href="#">Рус</a></div>
<div class="lang-wrap"><a href="#">Eng</a></div>
<div class="nav-wrap__mobile">
	<div class="nav-wrap"><a href="/html/portfolio.html">Портфолио</a></div>
	<div class="nav-wrap"><a href="#">Услуги</a></div>
	<div class="nav-wrap"><a href="#feedback">Контакты</a></div>
</div>
				</div>
			</header>
			<main class="page-content"><div class="vimeo-wrapper vimeo-wrapper-g on" data-src="<iframe src=&quot;https://player.vimeo.com/video/278539503?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0&quot; frameborder=&quot;0&quot; webkitallowfullscreen=&quot;webkitallowfullscreen&quot; mozallowfullscreen=&quot;mozallowfullscreen&quot; allowfullscreen=&quot;allowfullscreen&quot;>"><iframe src="https://player.vimeo.com/video/278539503?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe></div>
				<div class="loaderArea"></div>
				<div class="van-Gogh">
					<div class="van-Gogh__feedback">
						<div class="van-Gogh__title">Заявка на обратную связь</div>
						<form>
							<input class="form-control" type="text" placeholder="Имя"/>
							<input class="form-control" type="phone" placeholder="Номер"/>
							<input class="form-control" type="email" placeholder="e-mail"/>
							<div class="van-Gogh__feedback-button">
								<div class="van-Gogh-button">
									<button class="button__line" type="submit">Оправить</button>
								</div>
							</div>
						</form>
					</div>
					<div class="van-Gogh__wrapper"></div>
				</div>
				<div class="main-block">
					<div class="vimeo-wrapper"></div>
					<div class="container">
						<div class="header__static">
							<div class="row">
								<div class="col-2"><a class="logo" href="/html/index.html">
									<div class="logo__wrap"></div></a></div>
								<div class="col-5">
									<div class="lang-wrap"><a href="#">Каз</a></div>
									<div class="lang-wrap"><a href="#">Рус</a></div>
									<div class="lang-wrap"><a href="#">Eng</a></div>
								</div>
								<div class="col-5">
									<div class="nav-wrap"><a href="/html/portfolio.html">Портфолио</a></div>
									<div class="nav-wrap"><a href="#">Услуги</a></div>
									<div class="nav-wrap"><a href="#feedback">Контакты</a></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-6 col-xs-12">
								<div class="main-block__title">Мы креативное агенство</div>
								<div class="main-block__button"><a class="button__line" href="/html/about-us.html">Подробнее</a></div>
							</div>
							<div class="blocks-big-logo">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 765.8 553.9" style="enable-background:new 0 0 765.8 553.9;fill:#6EC4C2;" xml:space="preserve">
									<style type="text/css">
										.st0{fill:#6EC4C2;}
										.st1{display:inline;fill:#6EC4C2;}
										.st2{fill:#6EC4C2;}
										.st3{display:inline;fill:#6EC4C2;stroke:#ED1C24;stroke-miterlimit:10;}
									</style>
									<g class="st0" id="logohover">
										<g class="st1">
											<path class="st2" d="M622.8,0c5.9,0.9,11.7,2.3,16.8,5.6c11.3,7.3,15.7,18,14.7,31.1c-0.8,10.1-5.2,19-8.7,28.2								c-26.8,70.5-53.8,140.9-80.7,211.4c-7.3,19.2-18.7,35.4-35.5,47.5c-13.4,9.6-28.3,15.6-44.6,17.4c-35.7,3.8-66.5-6.9-91.5-33.1								C382,296.4,375.3,282,370,266.8c-19.5-55.2-39.2-110.3-58.8-165.5c-2.8-8-6.3-15.6-12.2-21.8c-15-15.9-41.6-14.7-55.7,2.5								c-4.8,5.8-8.2,12.5-10.7,19.5c-40,110.5-79.9,221.1-119.8,331.6c-14.2,39.3-28.4,78.7-42.6,118c-0.3,0.9-0.5,1.8-0.7,2.7								c-23.2,0-46.3,0-69.5,0c0.3-1.1,0.5-2.2,0.9-3.2C55.9,399,110.9,247.4,166,95.8c4.7-12.9,8.7-26.1,14.8-38.3								c14.8-29.6,38.8-48.1,71.4-55.1c5-1.1,10.1-1.6,15.2-2.3c3.2,0,6.4,0,9.5,0c1,0.2,2,0.5,3,0.5c21.4,1.6,40.3,9.5,56.9,23.1								c16.5,13.6,27.2,30.9,34.3,50.9c19.3,54.7,38.8,109.4,58.2,164.2c2.5,7,5.2,13.8,9.6,19.8c14.3,19.7,40.9,21.7,57.1,4.4								c5.9-6.3,9.5-14,12.5-22c27.2-71.3,54.3-142.5,81.5-213.7c3.7-9.6,8.6-18.4,18.2-23.3c3.8-2,8.3-2.7,12.4-3.9								C621.3,0,622.1,0,622.8,0z"></path>
											<path class="st2" d="M765.8,343.6c-4.3-1-8.6-1.8-12.8-2.9c-25.4-7-44.8-22.3-57.7-44.9c-8.9-15.6-16.2-32.1-24-48.3								c-4.7-9.7-9.1-19.6-13.6-29.5c-3.1-6.7-3.5-13.2-0.7-20.3c9.7-24.8,19-49.6,28.5-74.4c0.2-0.5,0.4-1,0.9-2								c0.6,1.3,1.1,2.2,1.6,3.2c19.5,41.9,39,83.7,58.3,125.6c4.4,9.4,10.5,17.1,19.6,22.4C765.8,296.2,765.8,319.9,765.8,343.6z"></path>
										</g>
									</g>
									<g class="st5" id="logotype">
										<g>
											<path class="touch" d="M283.4,0.4c3,0.5,6,1.1,9,1.6c24.3,4.6,43.9,16.9,59.9,35.5c9.6,11.1,16,24,20.9,37.7c12.8,35.9,25.6,71.8,38.4,107.8								c7.4,20.9,14.7,41.9,22.3,62.7c3.6,9.8,9.5,18,18.6,23.8c12.3,7.7,31.4,5.7,41.8-4.4c6.9-6.7,11.1-14.9,14.4-23.6								c9.9-26,19.9-52.1,29.8-78.1c10.1-26.6,20.2-53.2,30.3-79.7c7.3-19.1,14.5-38.2,21.9-57.2c3.9-10,9.7-18.7,20-23.4								c2.4-1.1,4.9-1.7,7.4-2.6c3,0,6,0,9,0c6.3,1.6,12.3,3.7,17.4,7.9c7.2,6,10.9,13.8,11.7,23c0.7,8.1-1.6,15.7-4.4,23.2								c-10.4,27.7-20.9,55.3-31.3,83c-8.4,22.1-16.7,44.1-25.2,66.1c-9.3,24.1-18.7,48.2-28,72.3c-5.5,14.2-12.9,27.1-23.5,38.1								c-15.3,15.8-34.2,25.1-55.9,28.4c-25.7,3.9-49.7-1.7-71.9-14.9c-21.3-12.7-35.3-31.4-43.6-54.6c-9.2-25.8-18.6-51.6-27.8-77.4								c-5.5-15.5-11-30.9-16.4-46.4c-6-17-11.8-34-18-50.9c-3.4-9.1-8.4-17.3-16.9-22.8c-5-3.2-10.4-5-16.4-5c-3.4,0-6.9-0.2-10.3,0.3								c-10.8,1.7-18.6,8.1-24.4,17.1c-5.4,8.4-8.4,17.8-11.8,27.1c-10.3,28.3-20.5,56.6-30.7,85c-6.7,18.7-13.5,37.4-20.2,56.1								c-9.5,26.3-19,52.6-28.5,78.9c-7,19.5-14,39-21,58.4c-9.2,25.4-18.4,50.9-27.6,76.3c-6.8,18.9-13.6,37.7-20.4,56.6								c-2.9,8.1-5.8,16.1-8.8,24.2c-0.3,0.8-0.8,1.5-1.2,2.3c-0.3-0.1-0.5-0.2-0.8-0.3c0.7-2,1.3-4.1,2-6.1c7-19.3,13.9-38.6,20.9-57.9								c8.5-23.5,17-47,25.5-70.5c6.9-19.2,13.8-38.4,20.8-57.6c8.5-23.7,17.1-47.4,25.7-71c5.9-16.3,11.8-32.6,17.7-48.9								c8.7-24,17.4-48.1,26-72.1c6.8-18.9,13.5-38,20.5-56.8c2.9-7.7,6-15.5,10-22.7c7.1-12.9,18.3-19.8,33.3-19.9								c14.5,0,25.6,6.2,32.7,18.8c3.5,6.1,6.1,12.8,8.5,19.4c9,25.2,17.7,50.5,26.7,75.7c11.2,31.4,22.2,62.8,33.8,94								c7.9,21.1,21.9,37.7,41.2,49.6c14.8,9.1,31,13.7,48,15.5c17.7,1.9,34.5-1.8,50.5-9.1c20.2-9.3,35.2-24.1,44.7-44								c6.9-14.6,12.6-29.7,18.5-44.7c14.9-38.7,29.7-77.5,44.4-116.3c9.8-25.8,19.7-51.6,29.3-77.5c3.6-9.7,4.7-19.7,0.3-29.4								c-5-10.9-13.8-17-25.5-18.5C610-0.1,598.5,10.7,593,24.7c-9.5,24.3-18.8,48.7-28.1,73.1c-13.6,35.7-27.1,71.5-40.8,107.2								c-6.2,16.3-12.4,32.6-19.5,48.5c-4.5,10.1-12.4,17.6-23.4,20.6c-13.6,3.8-25.7,0.9-36.2-8.8c-7.9-7.3-11.8-16.9-15.3-26.7								c-12.6-35.8-25.1-71.7-37.7-107.4c-7.3-20.6-14.7-41.1-22.4-61.5c-5.9-15.8-15-29.6-27.5-41c-15.7-14.4-34-23.4-55.2-26.1								c-27-3.4-51.5,3-73.3,19.1c-17.8,13.1-29.7,30.6-37,51.4c-8.9,25.2-18.1,50.2-27.2,75.2c-7,19.4-14.1,38.7-21.1,58.1								c-8.8,24.3-17.7,48.5-26.5,72.8c-7.3,20-14.5,40-21.7,60c-7.9,21.6-15.8,43.3-23.6,64.9C50,421.8,43.6,439.4,37.2,457								c-8.9,24.5-17.8,49.1-26.7,73.6c-2.4,6.5-4.7,13-7.1,19.5c-0.3,0.8-0.7,1.6-1.1,2.4c-0.2-0.1-0.5-0.1-0.7-0.2								c0.1-0.6,0.1-1.3,0.3-1.8c12.2-33.7,24.5-67.3,36.7-101c8.8-24.2,17.5-48.4,26.3-72.6c10.2-28.2,20.5-56.4,30.8-84.7								c8.8-24.2,17.5-48.4,26.3-72.6c10.2-28.2,20.5-56.4,30.8-84.7c8-22.1,16-44.2,24-66.3c4.9-13.4,12.4-25.2,22.1-35.6								c11.8-12.6,25.8-21.8,42.1-27.2c6.9-2.3,14.1-3.3,21.2-4.9c0.9-0.2,1.8-0.4,2.7-0.6C271.1,0.4,277.2,0.4,283.4,0.4z"></path>
											<path d="M766.5,273.6c-9.9-5.4-16.1-13.9-20.6-23.9c-6.2-13.9-12.5-27.9-19-41.7c-11-23.6-22-47.1-33.1-70.6								c-2-4.4-4.2-8.7-6.6-13.8c-0.8,1.8-1.4,2.9-1.8,4c-8.7,22.8-17.2,45.7-26.3,68.4c-3.8,9.4-2.8,17.7,1.5,26.5								c10.7,21.9,20.5,44.1,31.3,65.9c9.4,19.1,23.2,34.4,42.2,44.6c10.1,5.4,20.8,9.2,32.3,10.1c0,0.6,0,1.1,0,1.7								c-17.6-2.5-33.4-9-47.3-20.1c-12.4-10-22-22.2-28.9-36.5c-11.2-23.3-22.1-46.7-33-70c-2.9-6.2-3.1-12.5-0.6-19								c8.1-21,16-42,24.1-62.9c1.6-4.3,3.3-8.5,4.9-12.8c0.3-0.8,0.7-1.6,1.4-3.1c1.9,3.9,3.5,7.2,5.1,10.5								c5.1,10.9,10.2,21.8,15.3,32.7c10.1,21.7,20.2,43.4,30.4,65.1c4.5,9.5,8.6,19.2,13.5,28.5c3.4,6.4,8.7,11.4,15.1,14.9								C766.5,272.4,766.5,273,766.5,273.6z"></path>
										</g>
									</g>
								</svg>
							</div>
						</div>
						<div class="main-block__arrows-bottom"><a href="#project"><img src="../img/index/arrows_button.png"/></a></div>
					</div>
				</div>
				<div class="project" id="project">
					<div class="container">
						<div class="row">
							<div class="main__title">Проекты агентства и партнеров</div>
						</div>
					</div>
					<div class="project-slider">
						<div class="project__item">
							<div class="project__pic" style="background-image: url('../img/index/Bitmap.png')"></div>
							<div class="project__desc">
								<p>Клиент: Aviata</p>
								<p>Исполнители: Nikways, Nikways</p>
								<p>Год: 2018</p>
							</div>
						</div>
						<div class="project__item">
							<div class="project__pic" style="background-image: url('../img/index/Bitmap.png')"></div>
							<div class="project__desc">
								<p>Клиент: Aviata</p>
								<p>Исполнители: Nikways, Nikways</p>
								<p>Год: 2018</p>
							</div>
						</div>
						<div class="project__item">
							<div class="project__pic" style="background-image: url('../img/index/Bitmap.png')"></div>
							<div class="project__desc">
								<p>Клиент: Aviata</p>
								<p>Исполнители: Nikways, Nikways</p>
								<p>Год: 2018</p>
							</div>
						</div>
						<div class="project__item">
							<div class="project__pic" style="background-image: url('../img/index/Bitmap.png')"></div>
							<div class="project__desc">
								<p>Клиент: Aviata</p>
								<p>Исполнители: Nikways, Nikways</p>
								<p>Год: 2018</p>
							</div>
						</div>
					</div>
					<div class="project-slider__prev" id="project-slider__prev"></div>
					<div class="project-slider__next" id="project-slider__next"></div>
					<div class="project__button">
						<div class="main-block__button"><a class="button__line" href="/html/portfolio.html">Смотреть больше</a></div>
					</div>
				</div>
				<div class="services">
					<div class="container">
						<div class="main__title">услуги агентства</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="services__item">
									<div class="services__title">Креатив и стратегия</div>
									<div class="services__desc">
										Текст вода о том, что
										за услуга и почему 
										мы это делаем
										как то так вот
									</div>
									<div class="services__list">
										<ul>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
										</ul>
									</div>
								</div>
								<div class="services__item">
									<div class="services__title">Веб-разработка</div>
									<div class="services__desc">
										Текст вода о том, что
										за услуга и почему 
										мы это делаем
										как то так вот
									</div>
									<div class="services__list">
										<ul>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="services__item">
									<div class="services__title">Брендинг</div>
									<div class="services__desc">
										Текст вода о том, что
										за услуга и почему 
										мы это делаем
										как то так вот
									</div>
									<div class="services__list">
										<ul>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="services__item">
									<div class="services__title">Digital marketing</div>
									<div class="services__desc">
										Текст вода о том, что
										за услуга и почему 
										мы это делаем
										как то так вот
									</div>
									<div class="services__list">
										<ul>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
										</ul>
									</div>
								</div>
								<div class="services__item">
									<div class="services__title">Организация мероприятий</div>
									<div class="services__desc">
										Текст вода о том, что
										за услуга и почему 
										мы это делаем
										как то так вот
									</div>
									<div class="services__list">
										<ul>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-xs-12">
								<div class="services__item">
									<div class="services__title">Фото и видео продакшн</div>
									<div class="services__desc">
										Текст вода о том, что
										за услуга и почему 
										мы это делаем
										как то так вот
									</div>
									<div class="services__list">
										<ul>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
											<li>Нейминг</li>
											<li>Айдентика</li>
											<li>Дизайн логотипа</li>
											<li>Бренд стратегия</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="services__button">
							<div class="main-block__button"><a class="button__line" href="/html/services.html">Смотреть больше</a></div>
						</div>
					</div>
				</div>
				<div class="partnership">
					<div class="container">
						<div class="main__title">Компании, с которыми мы работали</div>
						<div class="main__subtitle">
							За годы работы в сфере рекламы, 
							мы и наши партнеры успели поработать 
							с рядом иминитых брендов и компаний
						</div>
						<div class="row">
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/UN.png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/M.png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/UNI.png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/SONY.png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (7).png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (5).png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (6).png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (3).png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (2).png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (4).png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (11).png"/></div>
							</div>
							<div class="col-lg-3 col-sm-6 col-4">
								<div class="partnership__item"><img src="../img/logo/logo (10).png"/></div>
							</div>
						</div>
					</div>
				</div>
				<div class="awards">
					<div class="container">
						<div class="main__title">награды компании с фестивалей</div>
						<div class="main__subtitle">
							За годы работы в сфере рекламы, 
							мы и наши партнеры успели поработать 
							с рядом иминитых брендов и компаний
						</div>
						<div class="row">
							<div class="col-lg-6 col-xs-12">
								<div class="awards__items"><img src="../img/index/lapa.png"/></div>
								<div class="awards__items">
									<div class="awards__desc">
										Награда на фестивале
										RedJolbors
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xs-12">
								<div class="awards__items"><img src="../img/index/youtube.png"/></div>
								<div class="awards__items">
									<div class="awards__desc">Награда от Youtube</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="feedback" id="feedback">
					<div class="container">
						<div class="main__title">заявка на обратную связь</div>
						<form>
							<div class="row">
								<div class="col-lg-4 col-xs-12">
									<input class="form-control" type="text" placeholder="Ваше имя"/>
								</div>
								<div class="col-lg-4 col-xs-12">
									<input class="form-control" type="phone" placeholder="Ваш номер телефона"/>
								</div>
								<div class="col-lg-4 col-xs-12">
									<input class="form-control" type="email" placeholder="Электронная почта"/>
								</div>
							</div>
							<div class="feedback__button">
								<div class="main-block__button">
									<button class="button__line" type="submit">Оправить</button>
								</div>
							</div>
						</form>
						<div class="main__title">Связаться снами</div>
						<div class="row">
							<div class="col-lg-6 col-xs-12 order-lg-1 order-sm-2 order-2">
								<div class="feedback__desc">Связаться с нами очень просто, можете позвонить нам или написать а так же оставить оставить заявку:</div>
								<div class="feedback__number"><a href="#">+7 777 888 9911</a></div>
								<div class="feedback__email"><a href="#">info@nikways.com</a></div>
								<div class="feedback__logo"><a href="#"><img src="../img/index/feed_logo.png" alt=""/></a></div>
							</div>
							<div class="col-lg-6 col-xs-12 order-lg-2 order-sm-1 order-1">
								<div class="feedback__pic"><img src="../img/index/mona_lisa.png"/></div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="page-footer">
				<div class="container">
					<div class="page-footer__wrapper">
						<div class="page-footer__social">
							<p class="page-footer__follow">Мы в социальных медиа:</p>
							<div class="social-buttons"><a class="social-button" href="#"><i class="fa fa-instagram"></i></a><a class="social-button" href="#"><i class="fa fa-facebook-square"></i></a><a class="social-button" href="#"><i class="fa fa-vimeo"></i></a></div>
						</div>
						<div class="page-footer__social">
							<div class="page-footer__year">2019</div>
							<div class="page-footer__text">© ИП “Nikways” Все права защищены</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="../vendor/bootstrap/bootstrap.min.js"></script>
		<script src="../vendor/slick/slick.min.js"></script>
		<script src="../vendor/fancybox/jquery.fancybox.min.js"></script>
		<script src="../js/all.min.js"></script>
	</body>
</html>
