public_html/html/services.html
<!DOCTYPE html>
<html class="page" lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no"/>
		<title>Nikways</title>
		<link rel="stylesheet" href="../../vendor/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" href="../../vendor/bootstrap-select/bootstrap-select.min.css"/>
		<link rel="stylesheet" href="../../vendor/slick/slick.css"/>
		<link rel="stylesheet" href="../../vendor/slick/slick-theme.css"/>
		<link rel="stylesheet" href="../../vendor/fancybox/jquery.fancybox.min.css"/>
		<link rel="stylesheet" href="../../vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../vendor/fullcalendar.min.css"/>
		<link rel="stylesheet" href="../../vendor/jquery.jscrollpane.css"/>
		<link rel="stylesheet" href="../css/style.css"/>
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16"/>
		<link rel="icon" type="image/png" href="/img/favicon/favicon-128.png" sizes="128x128"/>
		<meta name="application-name" content=" "/>
		<meta name="msapplication-TileColor" content="#FFFFFF"/>
		<meta name="msapplication-TileImage" content="mstile-144x144.png"/>
		<meta name="msapplication-square70x70logo" content="/img/favicon/mstile-70x70.png"/>
		<meta name="msapplication-square150x150logo" content="/img/favicon/mstile-150x150.png"/>
		<meta name="msapplication-wide310x150logo" content="/img/favicon/mstile-310x150.png"/>
		<meta name="msapplication-square310x310logo" content="/img/favicon/mstile-310x310.png"/>
	</head>
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/jquery/preloader.js"></script>
	<body>
		<div class="page-inner">
			<header role="banner">
				<div class="burger-click-region"><span class="burger-menu-piece"></span><span class="burger-menu-piece"></span><span class="burger-menu-piece"></span></div>
				<div class="burger-menu-txt"><a class="logo" href="/html/index.html">
					<div class="logo__wrap logo__wrap__mobile"></div></a>
<div class="lang-wrap"><a href="#">Каз</a></div>
<div class="lang-wrap"><a href="#">Рус</a></div>
<div class="lang-wrap"><a href="#">Eng</a></div>
<div class="nav-wrap__mobile">
	<div class="nav-wrap"><a href="/html/portfolio.html">Портфолио</a></div>
	<div class="nav-wrap"><a href="#">Услуги</a></div>
	<div class="nav-wrap"><a href="#feedback">Контакты</a></div>
</div>
				</div>
			</header>
			<main class="page-content"><div class="vimeo-wrapper vimeo-wrapper-g on" data-src="<iframe src=&quot;https://player.vimeo.com/video/278539503?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0&quot; frameborder=&quot;0&quot; webkitallowfullscreen=&quot;webkitallowfullscreen&quot; mozallowfullscreen=&quot;mozallowfullscreen&quot; allowfullscreen=&quot;allowfullscreen&quot;>"><iframe src="https://player.vimeo.com/video/278539503?background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe></div>
				<div class="services-inside">
					<div class="container">
						<div class="portfolio__header">
							<div class="row">
								<div class="col-2"><a class="logo" href="/html/index.html">
									<div class="logo__wrap"></div></a></div>
								<div class="col-5">
									<div class="lang-wrap"><a href="#">Каз</a></div>
									<div class="lang-wrap"><a href="#">Рус</a></div>
									<div class="lang-wrap"><a href="#">Eng</a></div>
								</div>
								<div class="col-5">
									<div class="nav-wrap"><a href="#">Портфолио</a></div>
									<div class="nav-wrap"><a href="#">Услуги</a></div>
									<div class="nav-wrap"><a href="#">Контакты</a></div>
								</div>
							</div>
						</div>
						<div class="services-slider__wrapper">
							<div class="services-slider__prev slick-arrow"></div>
							<div class="services-slider__next slick-arrow"></div>
							<div class="services-inside__wrapper services-slider">
								<div class="services-inside__slide">
									<div class="services-inside__title">Креатив и стратегия</div>
									<div class="services-inside__items">
										<div class="services-inside__name">Продуктивная стратегия</div>
										<div class="services-inside__nav active__nav">Стратегия присутствия в социальных сетях</div>
										<div class="services-inside__nav">Продуктовая стратегия</div>
										<div class="services-inside__nav">Креативная концепция </div>
										<div class="services-inside__desc">Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный </div>
									</div>
									<div class="services-inside__items">
										<div class="services-inside__pic"></div>
									</div>
								</div>
								<div class="services-inside__slide">
									<div class="services-inside__title">Креатив и стратегия</div>
									<div class="services-inside__items">
										<div class="services-inside__name">Продуктивная стратегия</div>
										<div class="services-inside__nav active__nav">Стратегия присутствия в социальных сетях</div>
										<div class="services-inside__nav">Продуктовая стратегия</div>
										<div class="services-inside__nav">Креативная концепция </div>
										<div class="services-inside__desc">Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный </div>
									</div>
									<div class="services-inside__items">
										<div class="services-inside__pic"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="page-footer">
				<div class="container">
					<div class="page-footer__wrapper">
						<div class="page-footer__social">
							<p class="page-footer__follow">Мы в социальных медиа:</p>
							<div class="social-buttons"><a class="social-button" href="#"><i class="fa fa-instagram"></i></a><a class="social-button" href="#"><i class="fa fa-facebook-square"></i></a><a class="social-button" href="#"><i class="fa fa-vimeo"></i></a></div>
						</div>
						<div class="page-footer__social">
							<div class="page-footer__year">2019</div>
							<div class="page-footer__text">© ИП “Nikways” Все права защищены</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="../vendor/bootstrap/bootstrap.min.js"></script>
		<script src="../vendor/slick/slick.min.js"></script>
		<script src="../vendor/fancybox/jquery.fancybox.min.js"></script>
		<script src="../js/all.min.js"></script>
	</body>
</html>

app/static/pug/services.pug
extends _layout.pug

block content
	.services-inside
		.container
			.portfolio__header
				.row
					.col-2
						a.logo(href="/html/index.html")
							.logo__wrap
					.col-5
						.lang-wrap
							a(href="#") Каз
						.lang-wrap
							a(href="#") Рус
						.lang-wrap
							a(href="#") Eng
					.col-5
						.nav-wrap
							a(href="#") Портфолио
						.nav-wrap
							a(href="#") Услуги
						.nav-wrap
							a(href="#") Контакты
			.services-slider__wrapper
				.services-slider__prev.slick-arrow
				.services-slider__next.slick-arrow
				.services-inside__wrapper.services-slider
					.services-inside__slide
						.services-inside__title.
							Креатив и стратегия
						.services-inside__items
							.services-inside__name.
								Продуктивная стратегия
							.services-inside__nav.active__nav.
								Стратегия присутствия в социальных сетях
							.services-inside__nav.
								Продуктовая стратегия
							.services-inside__nav.
								Креативная концепция 
							.services-inside__desc.
								Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный 
						.services-inside__items
							.services-inside__pic
					.services-inside__slide
						.services-inside__title.
							Креатив и стратегия
						.services-inside__items
							.services-inside__name.
								Продуктивная стратегия
							.services-inside__nav.active__nav.
								Стратегия присутствия в социальных сетях
							.services-inside__nav.
								Продуктовая стратегия
							.services-inside__nav.
								Креативная концепция 
							.services-inside__desc.
								Авиабилеты онлайн – Казахстанский сервис по продаже авиабилетов онлайн. Автоматизированный поиск и бронирование авиабилетов позволяет мгновенно найти и забронировать наиболее дешевый электронный 
						.services-inside__items
							.services-inside__pic
							
